name: Shellcheck

on: [push, pull_request]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Shellcheck
        uses: ludeeus/action-shellcheck@v1
        with:
          args: "scripts/*.sh"
